*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(40, 39, 39, 0.62);
}
.container{
  display: flex;
  position: relative;
}
.slide{
  border: 1px solid rgba(255, 255, 255, 0.675);
  padding: 10px 0;
  background-color: black;
}
img{
  height: 370px;
  width: 290px;
  object-fit: contain;
  border-radius: 5px;
}
.arrow i{
  color: rgba(255, 255, 255, 0.628);
}
#arrow-left{
  height: 20px;
  font-size: 35px;
  margin-top: 160px;
  margin-left: -5px;
  cursor: pointer;
}
#arrow-right{
  height: 20px;
  font-size: 35px;
  margin-top: 160px;
  margin-right: -5px;
  cursor: pointer;
}

